.ticketlist {
  height: 50%;
  overflow-y: scroll;
  scrollbar-width: thin; // Firefox
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 0;
  }

  &_inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &_inner:last-child {
    padding-bottom: 120%;
  }
}

@media (max-width: 720px) {
  .ticketlist {
    width: 100%;
    height: fit-content;
    &_inner {
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    &_inner:last-child {
      padding-bottom: 0;
    }
  }
}
